.body{
  text-align: center;
}

button{
  cursor: pointer;
}

fieldset{
  width: 400px;
  text-align: center;
}
header{
  text-align: center;
}

li{
  text-align: left;
}

#todoList{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

td.incomplete{
  font-weight: 600;
}

td.complete {
  text-decoration: line-through;
  color: red;
}

input{
  cursor: pointer;
  margin-right: 10px;
}

#crushed {
  text-decoration: underline;
  padding-left: 10px;

  width: 10px
}
#thingsTodo {
  text-decoration: underline;
  padding-left: 10px;

  width: 333px
}
#delete {
  text-decoration: underline;
  padding-left: 10px;
 
  width: 10px
}

