.body{
  text-align: center;
}

button{
  cursor: pointer;
}

fieldset{
  width: 333px;
  text-align: center;
}
header{
  text-align: center;
}

li{
  text-align: left;
}

#todoList{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

input{
  cursor: pointer;
  margin-right: 10px;
}

th{
  text-decoration: underline;
}
