.body{
  text-align: center;
}

button{
  cursor: pointer;
}

fieldset{
  width: 300px;
  text-align: center;
}
header{
  text-align: center;
}

li{
  text-align: left;
}

#todoForm{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

input{
  cursor: pointer;
}

